<p-messages [(value)]="msgs"></p-messages>

<form (ngSubmit)="onSubmit()">
    <div class="row justify-content-center">
        <p-panel class="ui-md-3">
            <p-header>
                <h3>Ajouter un poney</h3>
            </p-header>

            <div class="form-group">
                <label for="name">Nom</label>
                <input type="text" class="form-control" id="name" required [(ngModel)]="model.name" name="name" />
            </div>

            <div class="form-group">
                <label for="color">Couleur</label>
                <input type="text" class="form-control" id="color" required [(ngModel)]="model.color" name="color" />
            </div>

            <div class="form-group">
                <label for="age">Age</label>
                <input type="text" class="form-control" id="age" required [(ngModel)]="model.age" name="age" />
            </div>

            <div class="form-group">
                <p-button label="Ajouter" type="submit"></p-button>
            </div>
        </p-panel>
    </div>
</form>